<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>The Team</h1>
	<div class='col-xs-10 col-xs-offset-1'>
		<h3 class="col-xs-12 text-center"><b>George Welsted</b></h3>
		<div class="col-xs-3">
			<%= image_tag 'https://s.gravatar.com/avatar/4b52dda6c4c2c007a0de04643a5a2999?s=150', :class => 'img-responsive pull-right' %>
		</div>
		<div class="col-xs-9">
			<p>
				I'm a thirty y/o tech geek and operations manager for the organization I work for 
				and sys admin by trade, certified in VMware, Server Administration, and SQL DBA.
				<br /><br />
				I've always been kind of a closet code monkey working with mostly PHP and Batch/Shell Scripting. I'm starting a new chapter of adding ruby to my current skills toolbox! 
				<br /><br />
				On a personal side I have an awesome wife and two crazy kids 6 & 3, that drive me all but crazy <span class="glyphicon glyphicon-thumbs-up"></span>
			</p>
		</div>
	</div>